body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body.dyslexia {
  font-size: 16px;
  line-height: 1.5;
  font-family: opendyslexic !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: $top-spacing 0 $small-spacing;
  @extend %text-shadow;
}

h1 {
  color: $color-title;
  font-size: 205%;
  margin: .25em 0 .5em;
  line-height: 1;
  a {
    color: $color-title;
  }
}

h2 {
  color : $color-title;
  font-size: 180%;
  a {
    color: $color-title;
  }
}

h3 {
  color : darken($color-title, 10%);
  font-size: 165%;
  a {
    color: darken($color-title, 10%);
  }
}

h4 {
  color: tint($color-title, 20%);
  font-size: 140%;
}

h5 {
  color: $color-orange;
  clear: both;
  font-size: 130%;
}

h6 {
  color: tint($color-orange, 30%);
  font-size: 110%;
}

p {
  margin: 0 0 $paragraph-spacing;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $base-link-color;
  text-decoration: none;
  @include transition-3d;

  &:active,
  &:focus,
  &:hover {
    color: lighten($base-link-color, 15%);
    text-decoration: underline;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid $base-separator-color;
  margin: 1em 0;
  padding: 0;
}

img,
picture {
  display: block;
  margin: 0;
  max-width: 100%;
  border-radius: 8px;
  height: auto;
}


