.field--name-field-media {
  details.form-wrapper {
    background: darken($base-background-color, 10%);
  }
  .details-description {
    display: none;
  }

  .details-wrapper {
    > details {
//    display: none;
    }
  }
}

html#entity-browser {
  background-color: $color-dark-green;
  color: $base-font-color;

  body {
    background-color: $color-dark-green;
  }

  h1 {
    display: none;
  }

  main {
    padding: 0;
  }

  #edit-input-file {
    padding: 10px;
    background-color: darken($color-dark-green, 5%);
    border: 1px solid $color-green;
  }
}

form.entity-browser-form {
  background-color: $color-dark-green;

  nav.eb-tabs {
    ul li.active {
      border-color: $color-green;
      a {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: lighten($color-dark-green, 10%);
      }
    }
  }

  .view.eb-media {

    .views-exposed-form {
      background-color: $color-dark-green;
      padding: 0 1em;

      .form--inline {
        .form-actions {
          margin: 1em 0;
        }
      }
    }

    #edit-field-author-target-id,
    #edit-keywords {
      width: 200px;
    }

    #edit-mid {
      width: 60px;
    }

    .views-row {
      min-width: 0;
      float: left;
      overflow: hidden;
      clear: none;
      margin: 0;
//    @include fixed-aspect(5/3 * 100%, '.views-field');

      &:last-of-type {
        padding-bottom: 0;
      } // &:last-of-type

      @include media($bp320only) {
        width: calc(100% / 3);
      } // $bp320only

      @include media($bp580only) {
        width: calc(100% / 6);
      } // $bp580only

      @include media($bp960only) {
        width: calc(100% / 8);

      } // $bp960only

      @include media($bp1280) {
        width: 200px;
      } // $bp1280

      .views-field {
        width: 100%;
        @include fixed-aspect(3/3 * 100%, '.field-content');
        background-color: inherit;
      }
    } // .views-row

    .views-col {
      border: 3px solid lighten($color-dark-green, 15%);
      border-radius: 12px;
      margin: 3px;
    }

    .views-col.selected {
      border-color: $color-title;
    }

    .media-container {
    }

    .image-container {
      width: 100%;
    }

    .text-container {
      margin: 0 5px 5px 5px;

      .dimensions {
        float: right;
        font-size: 70%;
      }

      .mid {
        font-size: 70%;
      }

      .name {
        font-size: 85%;
        color: $color-title;
        line-height: 1.1;
      }

      .author {
        font-size: 85%;
      }

    }
  } // .view.eb-media

/*table.entities-list {
    td {
      border: none;
    }
  } */
} // form.entity-browser-form

form.media-form {
  display: none;
  .field--name-field-media-video-embed-field {
    max-width: 500px;
  }

  #preview {
    width: 20px;
    .field--type-video-embed-field   {
      max-width: 500px;
    }
  }

  .field--name-field-media {
    .details-wrapper {
      padding: .5em 0 0;
      .item-container {
        > input {
          margin: 1em 1em 0 0;
        }
      }
    }
  }
}
