article.media.az-view-mode-teaser {

  .url-container {
    .field--type-file {
      display: inline;
    }
  }

  .field--type-video-embed-field {
    margin-right: 20px;
    float: left;
  }

  .field--name-field-description {
    padding-bottom: 20px;
  } // .field--name-field-description

  .url-container {
    margin-bottom: 15px;
  }
  .field--name-field-geo-location {
    padding-top: 5px;
  } // .field--name-field-description

} // article.media.view-mode-teaser
