// Greys
$color-black: #111111;
$color-ie-black: #111111;
$color-white: #FAF0FF;
$color-ie-white: #FAF0FF;
$color-darker-grey: #333333 !default;
$color-dark-grey: #555555;
$color-dim-grey: #999999;
$color-grey: #BBBBBB !default;
$color-light-grey: #BBBBBB !default;

/////////////// Color Scheme /////////////////////
$color-light-pink: #DD99ff;
$color-pink: #DD66EE;
$color-red: #FF3300;
$color-light-red: #FF7788;
$color-orange: #ff6600;
$color-yellow: #EEEE00;
$color-yellow-green: #F5FFA0;
$color-green: #7FFFB0;
$color-dark-green: #063008;
$color-light-blue: #66BBFF;
$color-cyan: #00FFFF;
$color-blue: #5887FF;
$color-dark-blue: #062045;
$color-turquoise: #44D9E6;
$color-light-turquoise: #A5FFD1;
$color-light-purple: #DD99FF;
$color-purple-red: #A682FF;
$color-purple: #5533CC;
$color-ie-purple: #5533CC;
$color-dark-purple-red: #330055;
$color-dark-purple: #100A28;

$color-tan: #E8E0C6;
//$color-brown: #51321B;
$color-brown: #62423E;
$color-dark-brown: #2B1707;

//

$color-controls-wrapper: orange;
$color-controls: #5500aa;

$color-border: grey;

$color-button: #aa00ff;
$color-button-inactive: #22aaff;
$color-icon-selected: #55ddff;
$color-icon-hover: #0066cc;

$color-link: #113388;
$color-ie-link: #113388;
$color-label: #ff8811;

