// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.1;

// Other Sizes
$base-border-radius: 10px;
$inner-border-radius: 8px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 3;
$top-spacing: $base-spacing / 3;

$paragraph-spacing: $base-spacing / 2;
$base-z-index: 0;

// Animations
$base-duration: 500ms;
$base-timing: ease;

$images-path: '/themes/custom/sa_neato/images/';

$top-bar-height-mobile: 50px;
$top-bar-height-tablet: 50px;
$top-bar-height-desktop: 50px;

$toolbar-height: rem(39);
$toolbar-tray-open-height: rem(79);
$toolbar-tray-open-offset-tablet: rem(32);
$toolbar-offset-desktop: rem(119);

