
body#landing_page-atom-builder {
  .ui-widget-overlay {
    background-color: rgba(70,70,70,.4);
  }
  .ui-dialog {
    width: 535px;
  }
}

// Select atom View block
#select-atom-wrapper {

  position: relative;
  border-radius: 8px;
  margin-bottom: 0;
  border: 2px solid $color-border;
  background: $color-controls-wrapper;

  @include bp-below(md) {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border: 0;

    body.toolbar-vertical &,
    body.toolbar-fixed & {
      top: 30px;
    }
  }

  @include bp-above(lg) {
    width: 220px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    .az-close {
      display: none;
    }
  }
    // #az-select-atom

  h2 {
    font-size: 120%;
  }

  .select-title {
    padding-left: 15px;
    border-bottom: solid 2px $color-blue;
  }

  .sam-enable,
  .pte-enable {
    float: right;
    padding-right: 10px;
    color: rgba($color-button-inactive, .5);
    &.az-selected {
      color: $color-icon-selected;
    }
    &:hover {
      color: $color-icon-hover;
    }
  }

  .select-list {
    width: 100%;
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $color-controls;

    &::-webkit-scrollbar {
      background-color: $color-controls;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #194874;
      -webkit-border-radius: 8px;
    }
  }

  .select-item-name {
//  border-bottom: solid 1px $color-blue;
  }

  .select-item-wrapper {
    border-bottom: solid 1px $color-blue;
  }

  .isotope-list {
    list-style: none;
    margin: 0;
    padding-left: 20px;
  }

  .default-isotope {
    padding-left: 5px;
    font-size: .85em;
    height: 20px;

    &.selected {
      background-color: lighten($color-dark-blue, 15%);
    }

    .atomic-number {
      height: 18px;
      padding: 0 7px 0 0;
      float: left;
      width: 1.4em;
      text-align: center;
    }

    .atom-title {
      display: inline-block;
      width: 150px;
      height: 18px;
      overflow-y: hidden;
      .symbol {
        width: 1.4em;
        display: inline-block;
        text-align: center;
      }
    }

    .num-isotopes {
      padding: 0px 5px;
      float: right;
      border-radius: 5px;
      background-color: lighten($color-controls, 20%);
      &.az-closed {
        background-color: lighten($color-controls, 5%);
      }
      &.expand {
        color: $color-link;
      }
    }

    .num-isobars {
      padding: 0px 5px;
      float: right;
      &.expand {
        color: $color-link;
      }
    }
  }

  .isotopes {
    &.az-closed {
      display: none;
    }
    padding-bottom: 3px;
  }

  li.isotope {
    margin: 0;
    padding: 0 1px 0 4px;
    font-size: .80em;
    .title {
      display: inline-block;
      overflow-y: hidden;
      width: 132px;
      height: 1.1em;
    }

    &.selected {
      background-color: lighten($color-dark-blue, 15%);
    }
    a {
      &.disabled {
        color: $color-light-grey;
      }
    }
  }

  .az-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 150%;
    padding: 4px;
  }

  .isotope,
  .default-isotope {
    &.stability-stable a {
      color: $color-green;
    }
    &.stability-semi-stable a {
      color: $color-yellow;
    }
    &.stability-unstable a {
      color: $color-light-red;
    }
    &.stability-impossible a {
      color: $color-light-purple;
    }
    &.stability-alternative a {
      color: $color-light-blue;
    }
  } // li.isotope
}

body.atomizer-atom-viewer {
  .sam-enable {
    display: none;
  }
}

body.atomizer-molecule-builder {
  #select-atom-wrapper {
    display: block;
    right: unset;
    left: 150px;
    &.az-hidden {
      display: none;
    }
  }
}

