body.user-register {
  #group-notifications,
  #group-social-media,
  .field--name-field-biography,
  .field--name-field-picture,
  .field--name-field-title {
    display: none;
  }
}

form#user-pass-reset,
form#user-register-form,
form#user-form {

  details {
    border: 0px;
    summary {
      font-size: 140%;
      font-weight: bold;
      &:focus {
        border: none;
      }
    }
  }
  .details-wrapper {
    background-color: lighten($base-background-color, 10%);
    border-radius: 10px;
  }

  .field--name-field-picture {
    thead,
    .tabledrag-toggle-weight {
      display: none;
    }
    tr {
      > td {
        border: 0;
        a.tabledrag-handle {
          display: none;
        }
      }
    }
    .details-wrapper {
      padding: 0;
      > p {
        display: none;
      }
    }
  }

  .field--widget-mailchimp-lists-select {
    .description {
      display: none;
    }
    fieldset {
      fieldset {
        legend {
          display: none;
        }
        border: 0;
      }
    }
  }

  .form-type-password {
    .ok {
      color: $color-green;
    }
    .error {
      color: $color-red;
    }
  }
}
