
form.node-molecule-edit-form {
  #edit-field-formula-wrapper {
    .cke-contents {
      height: 40px;
    }
  }

  .filter-wrapper {
    display: none;
  }

  .field--name-field-formula {
    .cke_contents {
      max-height: 35px;
    }
  }
}

