form.contact-message-form {
  #edit-mail,
  #edit-recipient,
  #edit-name {
    margin: 0;
    label {
      display: inline-block;
      margin-right: 1em;
    }
  }

  #edit-mail {
    margin: 0;
    label {
      display: inline-block;
      margin-right: 1em;
    }
  }
}