form {
  input,
  label,
  select {
    display: block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    &::placeholder {
      color: $color-light-grey;
    }
  }

  label {
    font-weight: bold;
    &.option {
      font-weight: bold;
    }
    margin-bottom: $small-spacing / 2;

    &.required::after {
      content: "*";
    }

    abbr {
      display: none;
    }
  }

  .form-type-select,
  .form-type-number,
  .form-type-entity-autocomplete,
  .form-type-textfield {
    label {
//    display: inline-block;
//    width: 142px;
    }
  }

  > .form-item,
  > div > .form-item,
  > div > div > .form-item {
    margin-bottom: 1em;

    label {
      color: $color-dark-brown;
    }
  }

  input,
  select {
//  display: inline-block;
    width: 100%;
    background-color: lighten($base-background-color, 10%);
    border-radius: 6px;
  }

  textarea {
    background-color: lighten($base-background-color, 10%);
  }

  fieldset {
    border: $base-border;
    margin: 0 0 $small-spacing;
    padding: 5px 15px;
    border-radius: 8px;

    &.form-item {
      background-color: $secondary-background-color;
      border: $base-border;
      border-radius: 8px;
      margin: 0 0 $small-spacing;
      padding: 5px 15px;

      legend {
        background-color: $secondary-background-color;
        padding: .1em .5em;
        border: 2px solid $color-green;
      }
    }
  }

  > fieldset.form-item {
    border-color: $base-separator-color;
    margin: 0 0 30px;

    > legend {
      font-size: 125%;
      font-weight: bold;
      color: $color-title;
      border-radius: .5em;
    }
  }

  #{$all-text-inputs},
  select,
  select[multiple=multiple] {
    border: 2px solid $border-color-base;
    box-shadow: $form-box-shadow;
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: $base-font-size;
    padding: 3px 5px;
    transition: border-color $base-duration $base-timing;

//  width: 100%;

    &:hover {
      border-color: $border-color-hover;
    }

    &:focus {
      border-color: $border-color-focus;
      box-shadow: $form-box-shadow-focus;
      outline: none;
    }

    &:disabled {
      background-color: shade($base-background-color, 5%);
      cursor: not-allowed;

      &:hover {
        border: $base-border;
      }
    }

    option {
      line-height: 1;
      min-height: auto;
    }
  }

  textarea {
    resize: vertical;
  }

  input[type="search"] {
    appearance: none;
  }

  .form-item {
    > legend {
      padding: 0 10px;
    }
    .description {
      display: none;
    }
  }

  .views-field-views-bulk-operations-bulk-form,
  .form-type-checkbox.form-item {
    input {
      display: inline-block;
      width: 1.2em;
      height: 1.2em;
      margin-right: .3em;
    }
    label {
      vertical-align: text-bottom;
    }
    .description {
      display: inline-block;
      vertical-align: text-bottom;
    }
  }

  .form-type-radio.form-item {
    margin: .2em 0;

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* create custom radiobutton appearance */
      display: inline-block;
      width: 1.1em;
      height: 1.1em;
      padding: 2px;
      margin-right: .2em;
      /* background-color only for content */
      background-clip: content-box;
      border: 2px solid $color-grey;
      background-color: $base-background-color;
      border-radius: 50%;

      &:checked {
        background-color: cyan;
        border-color: $color-white;
      }
    }

    label {
      display: inline-block;
      vertical-align: text-bottom;
    }
  }

  input[type="file"] {
    margin-bottom: $small-spacing;
//  width: 100%;
  }

  select {
    max-width: 100%;
    width: auto;
    padding: 3px 5px;
  }

  .tabledrag-handle {
    .handle {
      height: 24px;
      width: 24px;
    }
  }

  .field--widget-link-default {

    .form-type-textfield {
      margin-bottom: 0;
    }
  }

  #edit-contact,
  #edit-timezone {
    border: 0;
    margin: 5px 0;

    summary {
      display: none;
    }

    .details-wrapper {
      padding: 0;
    }

    label {
      display: inline-block;
      margin-right: 20px;
    }

    select {
      display: inline-block;
    }
  }

  .field--name-field-email-updates,
  #edit-contact {
    margin-bottom: 25px;
  }

  .field--name-moderation-state {
    margin-bottom: 20px;

    .form-item {
      margin: 0;
    }

    select {
      margin-left: 7px;
      display: inline-block;
    }
  }

  .field--name-field-social-media {

    label {
      font-weight: normal;
      margin-left: 5px;
    }
    input {
      float: left;
      margin: 5px 4px 0 0;
    }
  }

  .field--type-daterange,
  .field--type-datetime {
    .form-type-date {
      display: inline-block;
    }
  }

  .field--name-field-topics {
    margin-bottom: 30px;
  }

}
