// Color definitions
$color-light-gray: #DDD !default;
$color-gray: #999 !default;
$color-dark-gray: #333 !default;

$color-white: #FAFAFF;
$color-light-white: #F4F4F8;
$color-black: #222233;

$color-light-tan: #fff8dc;
$color-tan: #D2B48C;
$color-brown: #554411;
$color-dark-brown: #2A1000;

$color-light-green: #B9D9C4;
$color-green: #33cc33;
$color-dark-green: #1a401a;

$color-light-blue: #88C4FE;
$color-blue: #2f6c9d;
$color-dark-blue: #0c1c30;

$color-light-red: #ff8899;
$color-red: #ff1111;
$color-dark-red: #991024;

$color-lightest-purple: #e5e0ff;
$color-light-purple: #b070ff;
$color-purple: #7E57C2;
$color-dark-purple: #2A1A3E;

$color-pink: #F32BFF;

$color-yellow: #FFFF00;
$color-gold: #FFCA00;
$color-aluminum: #D9D9D9;
$color-orange: #F46036;

$color-needs-review: $color-pink;
$color-unpublished: $color-orange;
$color-published: $color-yellow;
$color-draft: $color-light-blue;
$color-confidential: $color-light-purple;
$color-placeholder: $color-gray;

// Viewport
$viewport-bg-color: $color-white;

// Base colors.
$base-bg-color: $color-white !default;
$base-fg-color: $color-black !default;
$base-bd-color: gainsboro !default;
$base-accent-color: #477DCA !default;
$base-link-color: $base-accent-color !default;
$base-link-color--hover: darken($base-accent-color, 20) !default;
$base-label-color: $color-light-green;
$base-date-color: $color-gray;

// Header
$topnav-color: $color-gold;

$separator-color: $color-gold;

// Button colors.
$base-button-color: $color-dark-green;
$base-button-color--contrast: $color-white;
$base-button-color--inactive: lighten($base-button-color, 30%);
$base-button-color--selected: darken($base-button-color, 15%);
$base-button-color--hover: lighten($base-button-color, 10%);

$action-color: #477DCA !default;

// Dialog colors.
$dialog-fg-color: $color-white;
$dialog-bg-color: $color-light-green;
$dialog-bd-color: $color-green;
$dialog-sh-color: $color-dark-gray;
$dialog-title-fg-color: $color-black;
$dialog-title-bg-color: darken($color-light-green, 15%);
$dialog-button-bg-color: $color-dark-blue;

// Table colors.
$table-border-color: $base-bd-color;
$table-background: $base-bg-color;
$table-header-background: lighten($table-background, 10);
$table-hover-background: darken($table-background, 2);
$table-stripe-background: darken($table-background, 4);
$table-stripe-background--hover: darken($table-stripe-background, 5);

// Tasks colors.
$tab-link-color: $color-dark-gray;
$tab-active-background: $base-bg-color;
$tab-inactive-color: $base-bg-color;
$tab-inactive-hover-color: silver;

// Messages colors.
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

// Breadcrumb colors.
$breadcrumb-border-color: $base-bd-color;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: $base-bg-color;
$breadcrumb-inactive-hover-color: $breadcrumb-background;
$breadcrumb-color: $color-gray;
$breadcrumb-color-hover: $action-color;
$breadcrumb-color-active: $breadcrumb-color;

// Flexbox colors.
$flex-box-border-color: $color-light-gray;
$flex-box-background: lighten($color-light-gray, 10%);
$flex-box-color: transparentize($base-fg-color, 0.3);
$flex-box-top-colors:
        tomato,
        #72BFBF,
        #92B1E3,
        #E3D743,
        #CCC,
        #F6C05C;

// Footer colors.

$footer-color: white;
$footer-link-color: transparentize($footer-color, 0.6);
$footer-disclaimer-color: transparentize($footer-color, 0.35);

// Hero colors.
$hero-color: white;

// Action Colors
//$action-color: $color-blue;
//$action-color--alt: $color-light-blue;
//$action-color--contrast: $white;
