html {
  background-color: $viewport-bg-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  main {
//  @include outer-container;
    max-width: $page-max-width;
    padding: 3em 0;
  }

  &.no-sidebars {
    main {
      section#content {
        @include span-columns(12);
      }
    }
  }

  &.one-sidebar.sidebar-first {
    main {
      aside {
        &#sidebar-first {
          @include span-columns(4);
        }
      }

      section#content {
        @include span-columns(8);
      }
    }
  }

  &.one-sidebar.sidebar-second {
    main {
      aside {
        &#sidebar-second {
          @include span-columns(4);
        }
      }

      section#content {
        @include span-columns(8);
      }
    }
  }

  &.two-sidebars {
    main {
      aside {
        &#sidebar-first {
          @include span-columns(3);
        }

        &#sidebar-second {
          @include span-columns(3);
        }
      }

      section#content {
        @include span-columns(6);
      }
    }
  }
}

.outer-wrapper {
  @include outer-container;
}

$page-padding-mobile: 20px;
$page-padding-tablet: 20px;
$page-padding-desktop: 30px;
$page-padding-widescreen: 50px;

%layout-padding-mobile {
  @include media($bp320only) {
    padding-left: $page-padding-mobile;
    padding-right: $page-padding-mobile;
  } // $bp320only
} // %layout-padding-mobile

%layout-padding-tablet {
  @include media($bp580only) {
    padding-left: $page-padding-tablet;
    padding-right: $page-padding-tablet;
  } // $bp580only
} // %layout-padding-tablet

%layout-padding-desktop {
  @include media($bp960only) {
    padding-left: $page-padding-desktop;
    padding-right: $page-padding-desktop;
  } // $bp960only
} // %layout-padding-desktop

%layout-padding-widescreen {
  @include media($bp1280) {
    padding-left: $page-padding-widescreen;
    padding-right: $page-padding-widescreen;
  } // $b1280
} // %layout-padding-widescreen

%layout-padding {
  @extend %layout-padding-mobile;
  @extend %layout-padding-tablet;
  @extend %layout-padding-desktop;
  @extend %layout-padding-widescreen;
} // %layout-padding


div.layout {
  margin: 1em 0;
//box-shadow: 0px 0px 5px 1px $color-light-gray;
  border-radius: 8px;
//padding: .75em 0;
  .block {
//  padding: 1em;
  }
}

