@font-face {
  font-family: "Martel Sans";
  src: url('/fonts/martel.ttf');
}
@font-face {
  font-family: "Trajan Pro";
  src: url('/fonts/trajan.ttf');
}
html {
  color: $base-fg-color;
  font-family: var(--font-family);
//font-family: 'Garamond', sans-serif;
//font-family: 'Trajan Pro', sans-serif;
//font-family: 'Martel Sans', sans-serif;
  font-size: 100%;
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
//font-family: var(--font-family--heading);
  font-weight: normal;
  line-height: var(--line-height--heading);
  margin: 0 0 var(--spacing--small);
  color: $color-title;
}

h1 {
  font-size: 180%;
}
h2 {
  font-size: 160%;
}
h3 {
  font-size: 140%;
}
h4 {
  font-size: 120%;
  color: $color-title;
}
h5 {
  font-size: 120%;
  color: $color-light-title;
}
h6 {
  font-size: 100%;
  color: $color-light-title;
}

p {
  margin: 0 0 var(--spacing--small);
}

a {
  color: $base-link-color;
  text-decoration-skip-ink: auto;
  transition: color var(--duration) var(--timing);

  &:hover {
    color: $base-link-color--hover;
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0;
}
