# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.  Composer maintains these.
/docroot/core
/docroot/modules/contrib
/docroot/modules/custom/atomizer
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/libraries
/docroot/sites/default/*.php
#
# Ignore Composer-managed dependencies.
vendor/
config/

# Don't include node_modules and bower_components
*node_modules

# Ignore site files directory
/docroot/sites/default/files

.idea/
*.css.map
/docroot/mail
