article#node-799 {
  @include clearfix;

  .header-top {
    border-bottom: 1px solid $base-separator-color;
    padding-bottom: 20px;
    margin-bottom: 25px;

    .section-title {

      @include media(max-width $bp580max) {
        width: 100%;
        margin-bottom: 20px;
      }
      @include media($bp960) {
        display: inline-block;
        width: 325px;
      }
    }

    .section-announcement {

      @include media(max-width $bp580max) {
        width: 100%;
      }
      @include media($bp960) {
        padding-left: 50px;
        display: inline-block;
        width: calc(100% - 310px);
      }
    }
  }

  .sidebar-left {

    @include media(max-width $bp580) {
      width: 100%;
    }

    @include media($bp960) {
      float: left;
      width: 325px;
      max-width: 350px;
      padding-right: 40px;
    }
  }

  .main-content {
    position: relative;
    @include clearfix;

    @include media(max-width $bp580) {
      width: 100%;
    }
    @include media($bp960) {
      float: left;
      width: calc(100% - 325px);
    }
  }

  .user-header {
    margin-bottom: 30px;

    .user-text {
      display: inline-block;
      margin-left: 20px;
      vertical-align: top;

      .name {
        @extend %text-shadow;
      }
    }
    .user-picture {
      display: inline-block;
      @extend %box-shadow;
    }
  }

  .dashboard-block {
    margin-bottom: 30px;
  }
}
