body.path-group {

  .field--name-field-body {
    table {
      border-color: $base-separator-color;
      border-bottom-width: 3px;
      width: 100%;
      table-layout: fixed;

      td:nth-child(2),
      td:nth-child(3) {
        vertical-align: top;
      }

      th, td {
        &:nth-child(1) {
          @include media(max-width $bp580max) {
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            width: 2em;

            > p {
              transform: rotate(270deg);
              margin: 0 -100px;
            }
          }
          @include media($bp960) {
            width: 6em;
          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          width: calc((100% - 6em) / 2);
        }

      }

      th {
        text-align: center;
        background-color: $table-header-background;
        padding: 15px 10px;
        border-top: 1px solid $base-separator-color;
        border-bottom: 0;

      }


      td {
        padding: 15px;

        ul {
          margin: 0 0 0 20px;
          padding: 0;
        }
      }


    }
  }
}
