body.page-node-type-user-page {
  .author-wrapper {
    margin-bottom: 20px;
  }

  .text-formatted {
    margin-bottom: 10px;
  }

  .sidebar-left {
    float: left;

    @include media(max-width $bp580) {
      width: 100%;
    }
    @include media($bp960) {
      width: 30%;
      max-width: 350px;
      padding-right: 40px;
    }
  }

  .main-center {
    float: left;

    @include media(max-width $bp580) {
      width: 100%;
    }
    @include media($bp960) {
      width: 70%;
    }
  }

}
