// Start content of ckeditor content area and output to screen.
$cke-bg: #cdf;

body.cke_editable {
//padding: .25em 1em;

}
body.cke_editable,
.field--name-field-body {
}

body.cke_ltr {
  background-color: $color-dark-blue;
  h1 {
    background: darken($color-dark-blue, 5%);
    color: white;
  }
  .cke_panel_listItem a:focus {
    background: lighten($color-dark-blue, 15%);
  }
}

.entity-select-dialog {
  .ui-dialog-content {
    min-height: 225px !important;
    overflow-y: scroll;
  }
}

.entity-embed-dialog {
  .form-item-attributes-data-caption {
    display: none;
  }
}
.cke_combopanel {
//width: 150px;
  height: 250px !important;
}
.cke_inner {
  .cke_bottom,
  .cke_top {
    background: $cke-bg;
    padding: 4px 8px 0;

  }
  .cke_contents {
    > textarea.cke_source {
      background-color: darken($base-bg-color, 10%);
      padding: .25em .5em;
    }
  }

  .cke_path {
    display: none;
  }

  &.cke_maximized {
    z-index: 10000;
  }


  .cke_toolbox {
    > :nth-child(5) {
      clear: both;
    }
  }
}

.filter-wrapper {
  padding: 0;
  .filter-help {
    display: none;
  }

  .form-type-select {
    label {
      margin-left: 10px;
    }
    select {
      display: inline;
      margin: 5px;
    }
  }
}

/*
.embedded-entity {
  padding-bottom: 0;
  &.align-left {
    margin-right: 1.5em;
  }
  &.align-right {
    margin-left: 1.5em;
  }
  &.align-center {
    margin: 0 auto;
  }
  &.az-view-mode-map {
    min-height: 100px;
    min-width: 100px;
  }

  .field--name-name {
    text-align: center;
    color: tint($color-title, 50%);
    line-height: 1.2;
    margin-top: 5px;
    font-style: italic;
    letter-spacing: -.02em;
  }

  .atomizer_minimal,
  .atomizer {
    h2 {
      display: none;
    }
  }
}
 */

.text-formatted,
.cke_editable {

  .cke_widget_drupalentity {
    article {
      background-color: darken($color-dark-blue, 10%);
      margin-bottom: 15px;
    }
//  clear: both;
  }

  > ul,
  h1, h2, h3, h4, h5, h6,
  > p {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }

  h1, h2, h3 {
    clear: both;
  }

  h1 {
    font-size: 160%;
    font-weight: normal;
    color: $color-title;
  }
  h2 {
    font-size: 130%;
    font-weight: normal;
    color: $color-title;
  }
  h3 {
    font-size: 110%;
    font-weight: normal;
    color: $color-title;
  }
  h4 {
    font-size: 110%;
    font-weight: normal;
    color: $color-light-title;
  }
  h5 {
    font-size: 120%;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: $color-title;
    @include media (max-width $bp580max) {
      font-size: 110%;
      text-align: left;
    }
  }
  h6 {
    color: #51676C;
    font-size: 120%;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    @include media (max-width $bp580max) {
      font-size: 110%;
      text-align: left;
    }
  }


  .az-topic {
    color: $color-topic;
  }
}

.cke_panel_listItem {
  &.cke_selected {
    a {
      background-color: lighten($base-bg-color, 10%);
    }
  }

  a:hover {
    background-color: lighten($base-bg-color, 20%);
  }
}


article.embedded-entity {

  .az-image  {
    font-size: 95%;
    .field--name-image {
      margin-bottom: 10px;
    }
    .field--name-name {
      color: $color-light-title;
      text-align: center;
      margin-bottom: 10px;
      letter-spacing: -.02em;
    }
    .field--name-field-description {
      font-style: italic;
      margin: 0 5% 10px;
    }
  }

  &.az-view-mode-media-tiny {
    @include media($bp320only)  { width: 33%; }
    @include media($bp580only)  { width: 30; }
    @include media($bp960only)  { width: 25%; }
    @include media($bp1280only) { width: 20%; }
    @include media($bp1920)     { width: 20%; }
  }

  &.az-view-mode-media-small,
  &.az-view-mode-media-small-w-desc {
    @include media($bp320only)  { width: 40%; }
    @include media($bp580only)  { width: 35%; }
    @include media($bp960only)  { width: 30%; }
    @include media($bp1280only) { width: 25%; }
    @include media($bp1920)     { width: 20%; }
  }

  &.az-view-mode-media-medium,
  &.az-view-mode-media-medium-w-desc {
    @include media($bp320only)  { width: 90%; margin: 0 auto !important; float: none; }
    @include media($bp580only)  { width: 70%; margin: 0 auto !important; float: none; }
    @include media($bp960only)  { width: 50%; }
    @include media($bp1280only) { width: 40%; }
    @include media($bp1920)     { width: 30%; }
  }

  &.az-view-mode-media-med-large,
  &.az-view-mode-media-med-large-w-desc {
    @include media($bp320only)  { width: 90%; margin: 0 auto !important; float: none; }
    @include media($bp580only)  { width: 80%; margin: 0 auto !important; float: none; }
    @include media($bp960only)  { width: 70%; }
    @include media($bp1280only) { width: 60%; }
    @include media($bp1920)     { width: 50%; }
  }

  &.az-view-mode-media-large,
  &.az-view-mode-media-large-w-desc {
    @include media($bp320only)  { width: 100%; margin: 0 auto !important; float: none; }
    @include media($bp580only)  { width: 100%; margin: 0 auto !important; float: none; }
    @include media($bp960only)  { width: 90%;  margin: 0 auto !important; float: none; }
    @include media($bp1280only) { width: 80%;  margin: 0 auto !important; float: none; }
    @include media($bp1920)     { width: 70%;  margin: 0 auto !important; float: none; }
  }

  img {
    width: 100%;
  }

  .type-atom {
    .contextual * {
      display: none;
    }
  }
  .az-view-mode-atomizer {
    .az-canvas-wrapper {
      width: 100%;
    }
  }
}

/*
.cke_reset_all * {
  color: $color-white;
  background-color: $color-dark-green;
}

.cke_dialog_body {
  .cke_dialog_footer,
  .cke_dialog_title {
    background-color: darken($color-dark-green, 5%);
    color: $color-white;
  }
  .cke_dialog_contents {
    background-color: $color-dark-green;
    color: $color-white;

    &:hover {
      background-color: $color-dark-green;
      color: $color-white;

    }

    table tbody tr:first-child td {
      border: 0;
    }

    label {
      color: $color-white;
    }
  }

  input.cke_dialog_ui_input_text,
  select.cke_dialog_ui_input_select {
    color: $color-white;
    background: lighten($color-dark-green, 15%);
  }
}

.hljs {
  background-color: #111;
  border-radius: 8px;
  .php { color: #ddd; }
  .hljs-comment { color: #3a3; }
  .hljs-keyword { color: #96f; }
  .hljs-preprocessor { color: #888; }

}
*/
