{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  <div class="left">
    {{ content.field_author }}
    <label class="inline">
      Open/Download Document:
    </label>
    {{ content.field_document }}
  </div>
  <div class="right">
    {{ content.field_description }}
  </div>
</article>
