{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('az-image') }}>
  <div class="content-wrapper">
    <div class="image-wrapper">
      {% if content.image %}
        {{ content.image }}
      {% endif %}
    </div>

    {% if content.name %}
      {{ content.name }}
    {% endif %}
  </div>
</article>
