article.type-snippet {
  .node__links {
    display: none;
  }
  ul {
    padding: 0;
    list-style: none;

    li {
      &::before {
        margin-right: 10px;
      }
    }
  }
}

article#node-377 {
  .field--name-body {
    strong {
      font-size: 110%;
      color: $color-title;
    }
  }
}
