{#
/**
 * @file
 * Display the RealScience.Rocks Donate block.
 */
#}

<article id="donate-block az-clearfix">
    {{ description }}
    {# <div class="more-information az-float-right"><a href="{{ more_url }}">more information</a></div> #}
</article>

