{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
  {% if content %}
{#  <a class="edit-button" href="/"></a> #}
    <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      <i class="fas fa-pencil-alt"></i>
      {{ content }}
    </nav>
  {% endif %}
{% endblock %}
