<article{{ attributes.addClass(['user-popup-menu']) }}>
  Hi James, how are you?
  <div>
    <a href="/dashboard">View My Dashboard</a>'];
    <a href="/user">View My Profile Page</a>'];
    <a href="/user/' . \Drupal::currentUser()->id() . '/edit">Edit Account Settings</a>'];
    <a href="/user/logout">Logout</a>'];
  </div>

</article>
