$color-placeholder: #color-grey;
$color-draft: $color-light-blue;
$color-needs-review: $color-pink;
$color-confidential: $color-light-purple;
$color-published: $color-yellow;
$color-unpublished: $color-orange;

$color-user: $color-light-pink;
//$color-group: #ffaaff;
$color-group: $color-yellow-green;
$color-topic: $color-cyan;
$color-title: $color-yellow-green;
//$color-title: #eeaaff;
$color-light-title: lighten($color-title, 10%);

$color-overlay: rgba(0,0,0,.4);
$color-box-shadow: rgba(0,0,0,.1);

///////////////////// Atomizer //////////////////////
$color-controls: $color-dark-purple-red;
$color-controls-wrapper: lighten($color-controls, 20%);
$color-active: lighten(#102e4a,15%);
$color-border: $color-green;
$color-link: $color-green;
$color-icon-selected: $color-cyan;
$color-icon-hover: darken($color-cyan, 10%);
// $color-background: #102E4A;

$color-button: $color-blue;
$color-label: $color-yellow-green;

$transparent-captions-color: rgba($color-white, 0.56);
$accent-line-color: $color-purple;

// Headers
$header-background: $color-blue;
$header-background: $color-purple;
$header-color: $color-light-turquoise;

// Top Navigation
$topnav-background: $color-dark-green;
$topnav-color: $color-light-turquoise;

// Base colors.
$base-background-color: $color-dark-brown !default;
$base-font-color: $color-white !default;
$secondary-background-color: lighten($base-background-color, 7.5%);

$border-color-base: darken($color-green, 40%);
$border-color-hover: darken($color-green, 20%);
$border-color-focus: $color-green;
$border-color-filled: darken($color-turquoise, 10%);

$base-border-color: $color-green !default;
$base-border: 2px solid $base-border-color;

$base-accent-color: $color-dark-green !default;
$base-link-color: $color-dark-blue !default;

$base-header-bar-color: $color-light-turquoise;
$base-date-color: $color-grey;

$base-separator-color: lighten($base-background-color, 25%);

$page-title-color: $color-cyan;

$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($base-link-color, $lightness: -5%, $alpha: -0.3);

// Buttons
$color-button-selected: lighten($color-blue, 10%);
$color-button-hover: $color-blue;
$color-button-inactive: $color-grey;

// Messages colors.
$alert-color: #FFF6BF !default;
$error-color: #FFD0D0 !default;
$notice-color: #D0D0FF !default;
$success-color: #D0FFD0 !default;
/////////////////////////////////////////////////

// Table colors.
$table-border-color: $base-separator-color;
$table-background: $base-background-color;
$table-header-background: lighten($table-background, 10%);
$table-hover-background: darken($table-background, 6%);
$table-selected-background: darken($table-background, 6%);
$table-stripe-background: darken($table-background, 5%);
$table-stripe-background-hover: darken($table-stripe-background, 5%);

// Tasks colors.
$tab-link-color: $color-darker-grey;
$tab-active-background: $base-background-color;
$tab-inactive-color: $base-background-color;
$tab-inactive-hover-color: silver;

// Breadcrumb colors.
$breadcrumb-border-color: $base-border-color;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: $base-background-color;
$breadcrumb-inactive-hover-color: $breadcrumb-background;
$breadcrumb-color: $color-grey;
$breadcrumb-color-hover: $base-link-color;
$breadcrumb-color-active: $breadcrumb-color;

// Flexbox colors.
$flex-box-border-color: $color-light-grey;
$flex-box-background: lighten($color-light-grey, 10%);
$flex-box-color: transparentize($base-font-color, 0.3);
$flex-box-top-colors:
        tomato,
        #72BFBF,
        #92B1E3,
        #E3D743,
        #CCC,
        #F6C05C;

// Footer colors.
// $footer-background: desaturate(darken($base-accent-color, 20%), 30%);
$footer-background: #00404a;
$footer-color: $color-white;
$footer-link-color: transparentize($footer-color, 0.6);
$footer-disclaimer-color: transparentize($footer-color, 0.35);

// Atomizer colors
$atomizer-background: desaturate(darken($base-accent-color, 20%), 30%);
