div.structured-atom-logo {
  background-color: #218;
  border-radius: 47%;

  > a {
    text-decoration: none;
  }

  @include media($bp320only) {
    //      margin-left: 20px;
  }
  @include media($bp580only) {
    //      margin-left: 30px;
  }

  h2 {
    margin: 0;
    word-wrap: break-word;

    @include media(max-width $bp580max) {
      padding: 0 20px;
    } // $bp320only

    @include media($bp960) {
      padding: 0 30px;
    } // $bp960
  }

  .structured {
    color: #c6a2ff;
    text-shadow: 0 0 4px #5ff;
    opacity: .7;
    position: relative;
    display: inline-block;
    vertical-align:top;
    font-style: italic;
    font-family: cursive;
    font-weight: 100;
    margin-top: 3px;
    font-size: 24px;
    z-index: 1;
    @include transform (rotate(-8deg));
  }

  .atom {
    position: relative;
    display: inline-block;
    vertical-align:top;
    color: #efb000;
    margin: 16px 10px 0 -45px;
    font-size: 27px;
    @extend %text-shadow;
  }
}

div#structured-atom-logo {
  width: 500px;
  height: 80px;
//width: 350px;
  .structured {
    font-size: 32px;
    margin-left: 22px;
  }
  .atom {
    font-size: 40px;
  }
}

div#structured-atom-nav {
  position: absolute;
  top: 8px;
  left: 20px;
  height: 47px;
  width: 230px;

  @include media($bp960) {
    margin-left: 30px;
  }

  h2 {
    @include media(max-width $bp580max) {
      padding: 0 20px;
    } // $bp320only

    @include media($bp960) {
      padding: 0 30px;
    } // $bp960
  }
}


