.donate-block {
  .more-information {
    float: right;
    margin-top: -2em;
    font-size: 80%;

    a {
      width: 5em;
      display: block;
      overflow: hidden;
      line-height: 1.1em;
    }
  }
}
