.az-page {

  ////////////////////// teaser
  &.view-mode-teaser {

    > .title-container {
      border-bottom: 2px solid $base-separator-color;
      h2 {
        padding: 10px 0;
        margin: 0;
      }
    }

    h3 {
      margin: 0 0 3px;
      font-size: 140%;
      a {
        span {
          color: $page-title-color;
        }
      }
    }

    .field {
      h3 {
        font-size: 130%;
      }

      h4 {
        font-size: 120%;
      }

      h5 {
        font-size: 110%;
      }
    }

    .az-row {
      padding: 15px 0;
      border-bottom: 1px solid $base-separator-color;
      @include clearfix;
    }

    .information {
      font-size: 80%;
      margin-bottom: 15px;

      .type {
        &:before {
          color: darken($color-white, 15%);
        }
      }

      .changed {
        color: $base-date-color;
        font-style: italic;
      }

      .state {
        color: black;
        padding: 2px 6px;
        border-radius: 5px;

        &.published    { background-color: $color-published; }
        &.unpublished  { background-color: $color-unpublished; }
        &.needs-review { background-color: $color-needs-review; }
        &.draft        { background-color: $color-draft; }
        &.placeholder  { background-color: $color-placeholder; }
        &.confidential { background-color: $color-confidential; }
      }
    } // .information

    .group-container {
      float: right;
      position: relative;
      width: 28%;
      max-width: 150px;
      margin-left: 20px;

      img {
        border-radius: 8px;
        display: block;
        @extend %box-shadow;
      }

      .group-label-container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 90%;
        background-color: rgba(0,0,0,.3);
        border-radius: 8px;

        .group-label {
          color: $color-group;
          text-align: center;
          font-weight: bold;
          line-height: 1.1;
          padding: 5px;
          @include vertical-center;
          @extend %text-shadow;
        }
      }
    }

    .field--name-field-tooltip {
      margin: 5px 0;
    }

    .field--name-body {
      margin: 10px 0;
    }

    .field--name-field-media {
      @extend .az-small;
      float: left;
      margin-right: 15px;
    }

    .node__links {
      font-size: 80%;
      @include clearfix;

      li {
        padding: 0 30px 0 0;
      }
      .node-readmore {
        float: right;
      }
      .comment-add {
        display: none;
      }
      .statistics-counter {
        float: left;
      }
    }
  }

  &#az-page-image {
    .az-row {
      display: inline-block;
      border: 0;
      padding: 5px;
      @include media($bp320only) {
        width: calc(50% - 4px);
      } // $bp320only

      @include media($bp580only) {
        width: calc(25% - 4px);
      } // $bp580only

      @include media($bp960only) {
        width: calc(25% - 4px);
      } // $bp960

      @include media($bp1280only) {
        width: calc(20% - 4px);
      } // $bp1280

      @include media($bp1920) {
        width: calc(16.6667% - 4px);
      } // $bp1280

    }

    article {
      @include fixed-aspect(125%, '.content-wrapper');
      border: 1px solid $base-separator-color;
      border-radius: 8px;

      .content-wrapper {
        overflow: hidden;

        .field--name-name {
          line-height: 1.2;
          padding: 0 5px;
        }

        .image-wrapper {
          margin: 0;
          //    position: relative;
          //    width: 100%;
          //    overflow: hidden;

          .field--name-image {
            text-align: center;
            img {
              max-height: 100%;
              max-width: 100%;
              width: auto;
              height: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

////////////////////// teaser-short
.sidebar {
  .view-mode-teaser-short {

    h3 {
      margin: 0 0 3px;
      font-weight: normal;
      font-size: 100%;
    }

    .page-content {
      padding: 0 15px 15px;
    }

    .az-row {
      padding: 15px 0;
      border-bottom: 1px solid $base-separator-color;
    }

    .information {
      font-size: 80%;

      .type {
        &:before {
          color: darken($color-white, 15%);
        }
      }

      .changed {
        color: $base-date-color;
      }
    }
  }
}
