.block-region-sidebar {
  .views-element-container {
    .content-container {
      padding: 7px 0;
    }
  }
}

.view-id-az_groups {
  .view-content {
    margin: 5px -5px;
    @include clearfix;
  }

  .views-row {
    float: left;
    overflow: hidden;

    @include media(max-width $bp580max) {
      padding: 5px;
    }
    @include media($bp960) {
      padding : 5px;
    }

    .views-field {
      @extend .az-block;
      height: 100%;
    }

    .group-image {
      margin-bottom: 15px;
      img {
        @extend %box-shadow;
      }
    }

    .group-container {
      position: relative;
    }

    .group-label {
      text-align: center;
      z-index: 5;
      text-shadow: 1px 1px 3px #104;
      margin-bottom: 10px;

      a {
        display: block;
        line-height: 1.1;
        font-weight: bold;
        color: $color-group;
        overflow-wrap: break-word;
        padding: 2px 7px;
        border-radius: 5px;
//      @include vertical-center;

        @include media($bp320only) {
          font-size: 100%;
        }
        @include media($bp580only) {
          font-size: 110%;
        }
        @include media($bp960only) {
          font-size: 150%;
        }
        @include media($bp1280) {
          font-size: 175%;
        }
      }
    }
  }
}

.block-system-main-block {
  .view-id-az_groups {
    .view-content {
      @include display(flex);
      flex-flow: row wrap;
      overflow: hidden;
      justify-content: space-between;
      align-items: stretch;
    }

    .views-row {
      @include media($bp320only) {
        flex-basis: 100%;
      }
      @include media($bp580only) {
        flex-basis: 50%;
      }
      @include media($bp960only) {
        flex-basis: 50%;
      }
      @include media($bp1280) {
        flex-basis: 33%;
      }
      @include media($bp1920) {
//      flex-basis: 33.333%;
        flex-basis: 33%;
      }
    }
  }
}

.block-region-sidebar {
  .view-id-az_groups {
    .views-row {
      @include media($bp320only) {
        width: 50%;
      }
      @include media($bp580only) {
        width: calc(100% / 3);
      }
      @include media($bp960only) {
        width: calc(100% / 1);
      }
      @include media($bp1280) {
        width: calc(100% / 1);
      }
    }
  }
}
