.az-page.entity-type-comment {
  footer.comment__meta {
    a {
      display: none;
    }
  }

  .az-row {
    padding: 15px 0;
    border-bottom: 1px solid $base-separator-color;
  }

  .content {
    h3 {
      margin: 0;
      font-size: 130%;
    }

    h4 {
      font-size: 120%;
    }

    h5 {
      font-size: 110%;
    }

    ul.inline {
      li {
        font-size: 80%;
        padding: 0 1em 0 0;
      }
    }

    .comment__submitted {
      font-size: 80%;
      color: $base-date-color;
    }

    .field--name-comment-body {
      margin-bottom: 10px;
    }
  }
}
