.block-border {
  border: 2px solid lighten($header-background, 5%);
  border-radius: $base-border-radius;
  margin-bottom: 30px;
  @extend %box-shadow;

  .title-container {
    margin: -1px -1px 0;
    padding: 10px 15px;
    background: $header-background;
    color: $header-color;
    border-radius: $base-border-radius $base-border-radius 0 0;
    @extend %text-shadow;

    h2 {
      font-size: 110%;
      margin: 0;
    } // h2
  } // .title-container

  .view-group-members {
    padding: 10px;
  }

  .content-container {
    padding: 15px;

    ul {
      margin-left: 0;
    } // ul
  } // .content-container
} // .block


.az-block {
  border: 2px solid $color-green;
  background: $secondary-background-color;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
}
