body.url-leadership {
  .layout__region--first {
    article {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .layout__region--second {
    article {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .block-entity-blockuser {
    margin-bottom: 40px;
  }

  .field--name-user-picture {
    display: inline-block;
  }

  .user-header {
    vertical-align: top;
    display: inline-block;
    margin-left: 1em;
    margin-top: .5em;

    .field--name-field-full-name {
      font-weight: bold;
    }

    .field--name-field-job-title {
      font-style: italic;
    }
  }
}
