body.page-node-type-landing-page {
  color: #516A7C;
  section.banner {
    position: relative;
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    .banner-title {
      font-family: "Trajan Pro";
      max-width: $page-max-width;
      position: absolute;
      top: 20px;
      right: 20px;
      h1 {
        text-shadow: 1px 1px 3px $color-dark-gray;
        color: white;
        font-size: 140%;
        @include media($bp960) {
          font-size: 200%;
        }
      }
    }
  }

  #block-sf-page-title {
    display: none;
  }


  form.contact-message-sitewide-form {
    width: 520px;
    @include media (max-width $bp320max) {
      width: 320px;
    }

    margin: 0 auto;
    > .form-wrapper {
      padding: 0;
      box-shadow: none;
    }
  }
}

