body.page-node-type-landing-page {
  color: #516A7C;
  section.banner {
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    height: 300px;
  }

  #block-sf-page-title {
    display: none;
  }
}

