body.url-contact {
  .block-contact-block {
    margin-top: 50px;
    > h2 {
      display: none;
    }
  }

  .form-item-field-interest-55,
  .form-item-field-interest-56,
  .form-item-field-interest-57 {
    display: none;
  }
}
