<div role="document" class="page">
  {%  if page.header %}
    <header id="site-header">
      <div>
        {{ page.header }}
      </div>
    </header>
  {% endif %}

  {%  if page.featured %}
    <section id="featured">
      <div class="columns">
        {{ page.featured }}
      </div>
    </section>
  {% endif %}

  {% if page.breadcrumb %}
    <section id="breadcrumb">
      <div class="outer-wrapper">
        {{ page.breadcrumb }}
      </div>
    </section>
  {% endif %}

  <div class="main-wrapper">
    <main role="main" class="outer-container">
      <a id="main-content" tabindex="-1"></a>

      {{ page.content }}
    </main>
  </div>

  {% include('@sa_neato/include/footer.html.twig') %}
</div>
