body {
  > div {
    background-color: $color-dark-blue;
    color: $color-white;
    padding: 0px 20px;
  }

  table.main-table {
    color: $color-white;
    margin-top: 0;

    tr {
      td {
        padding: 0;
      }

      &.header-row {
        height: 85px;
        padding: 10px 0;
        #ethereal-matters-nav {
          padding: 15px 30px;
          width: 164px;
          position: relative;
          top: auto;
          left: 0;
          height: auto;
        }
      }

      &.subject-row {
        td {
          padding: 15px 0;
          border: 0;
          h2 {
            margin: 0;
          }
        }
      }

      &.main-row {
      }
    }

    td.main-contact {
      font-size: 16px;
      color: $color-white;
      border: 0;

      > div {
        > p {
          display: none;
        }
      }
    }

    td.main-body {
      font-size: 16px;
      color: $color-white;
      border: 0;
    }
  }

  .field__label {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    color: $color-orange;
  }

  .field__item {
    display: inline-block;
  }

  .field--name-message {
    margin-top: 10px;
    .field__label {
      display: block;
    }
    .field__item {
      display: block;
    }
  }

  .signature {
    font-style: italic;
    font-weight: lighter;
    margin-top: 10px;
    a {
      margin-left: 5px;
    }
  }
}