footer#site-footer {
  border-top: 1px solid $color-purple;

  #footer-wrapper {
    @include outer-container;
//  min-height: 80px;
    @extend %layout-padding;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copyright {
    float: right;
    text-align: center;
    font-size: 90%;
    font-style: italic;
  }

  .contact {
    float: left;
    font-weight: bold;
    a {
      color: $color-white;
    }
  }

  .terms {
    float: right;
    font-weight: bold;
    a {
      color: $color-white;
    }
  }
}
