/**
 * Make the footnote a supertext^1
 */
.see-footnote {
  vertical-align: top;
  position: relative;
  top: -0.35em;
  left: -.3em;
  font-size: 65%;
//margin: 0 .1em;
  &:target {
    background-color: darken($color-purple, 10%);
    border: solid 1px $color-purple;
  }
}

/* Add empty space before footnotes and a black line on top. */
.footnotes {
  clear: both;
  position: relative;
  margin: 1em 0;
  padding: 1em 2em;
  border-top: 1px solid $color-white;
  font-size: 0.9em;
  list-style-type: none;
  > li {
    background: none; /* Garland theme sets a bullet via background image, this must be unset! See bug 861634 */
  }

  .footnote-label {
    position: absolute;
    left: 0px;
    z-index: 2;
  }

  .footnote:target {
    background-color: darken($color-purple, 10%);
  }
}
