.hero-wrapper {
  position: relative;

  .field--name-field-hero-image {

    article {
      @include fixed-aspect(1/ 3 * 100%, '.field--name-image');
      width: 100%;
      padding-bottom: 20px;

      img {
        border-radius: 10px;
        width: 100%;
        height: auto;
        @extend %box-shadow;
      } // img
    } // article
  } // .field--name-field-hero-image

  .field--name-name {
    display: none;
    text-align: center;
    color: $color-title;
    font-style: italic;
    font-size: 110%;
    margin: 5px 0 10px;
  }
  /*
  .title-wrapper {
    padding: .8em 2em;
    background: rgba(0, 50, 50, .4);
    border-radius: 8px;
    border: 2px solid $color-green;
    line-height: 1;
    box-shadow: 0px 0px 20px #ffffff;
    @include position(absolute, 14px null null 17px);
    z-index: 1;

    h1 {
      margin: 0;
      font-size: 250%;
      color: $color-green;
      @extend %text-shadow;
    } // h1
  } // .title-wrapper

  .field--name-field-short-description {
    margin-top: 20px;
  } // .field--name-field-short-description
  */
} // .hero-wrapper
