#block-views-block-az-media-block-map-usage {
  .content-container {
    padding: 6px 10px;
    background-color: $color-black;
  }
}

.geofield-google-map {
  color: #2a2a2a;

  .field--name-name {
    color: #2a2a2a;
  }
}
