body.user-login {
  nav.tabs {
    display: none;
  }
}

#block-ie-neato-local-tasks,
#block-em-neato-local-tasks,
#block-sa-neato-local-tasks {
  nav.tabs {
    a {
      border-radius: 6px;
      padding: .5em 1em;
      &.is-active {
        background-color: lighten($base-background-color, 15%);
      }
      &:hover {
        background-color: lighten($base-background-color, 30%);
      }
    }
  }
}


nav.tabs {
  i.fas {
    display: none;
  }
}


body.entity-taxonomy_term-canonical,
body.entity-user-canonical,
body.entity-group-canonical,
body.entity-media-canonical,
body.entity-node-canonical {
  .block-local-tasks-block {
    position: relative;

    .contextual {
//    display: none;
    }
    .content-container {
      height: 0;
    }

    .edit-button {
//    @extend .az-fa-pencil;
      &:before {
        color: $base-font-color;
        position: absolute;
        top: -10px;
//      right: -20px;
        opacity: .4;
        @include transition-3d($property: opacity);
      }
      &:hover:before {
        opacity: 1;
      }

    }

    nav.tabs {

      @include media(max-width $bp580max) {
        margin-bottom: 20px;
      }

      i.fas {
        display: inline-block;
        position: absolute;
        opacity: .4;
        @include transition-3d($property: opacity);

        @include media($bp320only) {
          right: 0px;
          top: -35px;
        } // $bp320only

        @include media($bp580only) {
          right: 0px;
          top: -35px;
        } // $bp580only

        @include media($bp960only) {
          right: -10px;
          top: -20px;
        } // $bp960

        @include media($bp1280) {
          right: -10px;
          top: -20px;
        } // $bp1280
      }

      ul.tabs {
        opacity: 0;
        position: absolute;
        right: -20px;
        top: -500px;
        z-index: 20;
        background-color: $color-dark-green;
        border: 2px solid $color-green;
        border-radius: 8px;
        @include transition-3d($property: opacity, $timing: 200ms);
        @include transition-3d($property: right, $duration: 0);

        li {
          display: block;
          padding: 0;
          margin: 0;
          z-index: 20;
        }

        a {
          padding: 5px 10px;
        }
      }

      &:hover {
        i {
          opacity: 1;
        }

        ul.tabs {
          right: -20px;
          top: -60px;

          opacity: 1;
        }
      }
    }
  }
}

nav.az-tabs {

  > ul.az-tabs-list {
    list-style: none;
    padding: 0;
    position: relative;
    margin: 0;
    @include clearfix;

    > li.az-tab {
      float: left;
      padding: 7px;
      margin: 0 -1px 0 0;

      border: 2px solid $base-separator-color;
      margin-bottom: -2px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      font-size: 110%;
      font-weight: normal;
      color: $base-link-color;
      letter-spacing: -0.02em;

      &.active {
        background-color: $secondary-background-color;
        border-bottom: 2px solid $secondary-background-color;
      }

      &:hover {
        background-color: lighten($base-background-color, 8%);
      }
    }
  }

  .az-pages {
    background: $secondary-background-color;
    border: 2px solid $base-separator-color;
    padding: 10px 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

    .az-page {
      .page-title {
        border-bottom: 1px solid $base-separator-color;
        h2 {
          margin-bottom: 10px;
        }
      }
      display: none;
      width: 100%;

      @include clearfix;

      &.active {
        display: block;
      }
    }
  }
}
