.ui-widget-overlay {
  background-color: #200030 !important;
  opacity: .5 !important;
}

.ui-dialog.ui-widget-content {
  overflow-y: scroll;

  .ui-dialog-titlebar {
    background-color: darken($color-dark-green, 10%);
    color: $base-font-color;
  }
  .ui-dialog-content {
    background-color: $color-dark-green;
    color: $base-font-color;

    fieldset {
      background-color: $color-dark-green;
    }

    input,
    select {
      background-color: lighten($color-dark-green, 15%);
    }
  }
  .ui-dialog-buttonpane {
    background-color: darken($color-dark-green, 10%);
    button {
      padding: .5em 1em;
    }
  }

  a {
    color: $base-font-color;
  }

  ul.ui-autocomplete {
    background-color: lighten($color-dark-green, 15%);
    li {

    }
  }
}
