.az-html {
  font-size: calc(8px + .5vw);
  line-height: calc(6px + 0.5vw);

  .az-canvas-wrapper {
    .az-canvas {
      display: none;
    }
  }

  $border: .01vw solid black;
  $border: 1px solid black;

  .card-wrapper {
    position: absolute;
    color: white;
    background: #bbcaad; // #557a7e;
    border: $border;
  }

  .card {

    .header {
      width: 100%;
      text-align: center;
      background-color: darkmagenta;

      h3 {
        margin: 0;
        font-size: 1.3em;
        padding: .5em;
        color: white;
      }
    }

    .content {
      text-align: center;

      h3 {
        margin: 0;
        font-size: 1em;
        color: white;
      }
    }
  }

  .card-bar {
    color: white;
    background-color: darkgreen;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .arrow-wrapper {
    .arrow {
      background: #d7682a;
      border: $border;
      border-right: none;
      line-height: 1.2;
      height: 3%;
      z-index: 10;
      position: relative;

      &::before {
        content: ' ';
        display: block;
        position: absolute;
        margin-top: -50px;
        left: calc(100% - 5px);
        top: 50%;
        border-top: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 50px solid black;
        width: 0;
        height: 0;
        z-index: 0;
      }

      &::after {
        content: ' ';
        display: block;
        position: absolute;
        margin-top: -40px;
        left: 100%;
        top: 50%;
        border-top: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 40px solid #d7682a;
        width: 0;
        height: 0;
      }

      .arrow-body {
        text-align: center;
        font-size: 200%;
        font-weight: bold;
        color: black;
      }
    }
  }

  #card--production-mary .header {
    background: linear-gradient(to right, #ac432e, #6d2d2d);
  }

  #card--production-paul .header {
    background: linear-gradient(to right, #6d2d2d, #422732);
  }

  #card--production-peter .header {
    background: linear-gradient(to right, #422732, #372d3c);
  }

  #card--testing {
    background: #284984;
    h3 {
      margin: 235px 0 0 134px;
    }
  }

  #card--packaging-and-shipping .header {
    background: linear-gradient(to right, #c22f43, #982741);
  }

}
