
body#landing_page-molecule-builder {
  .ui-widget-overlay {
    background-color: rgba(70,70,70,.4);
  }
  .ui-dialog {
    width: 535px;
  }
}

// Select select molecule block
#select-molecule-wrapper {

  position: relative;
  border-radius: 8px;
  margin-bottom: 0;
  border: 2px solid $color-border;
  background: $color-controls-wrapper;

  @include media(max-width $bp580max) {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border: 0;

    body.toolbar-vertical &,
    body.toolbar-fixed & {
      top: 30px;
    }
  }

  @include media($bp960) {
    width: 220px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    .az-close {
      display: none;
    }
  }

  h2 {
    font-size: 120%;
  }

  .select-title {
    padding-left: 15px;
    border-bottom: solid 2px $color-blue;
  }

 .select-list {
    width: 100%;
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $color-controls;

    &::-webkit-scrollbar {
      background-color: $color-controls;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #194874;
      -webkit-border-radius: 8px;
    }
  }

  .select-item-wrapper {
    border-bottom: solid 1px $color-blue;
    padding: 0 5px;
  }

  .az-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 150%;
    padding: 4px;
  }
}
