
// Atom Builder Controls form

.ui-dialog.az-atom-form {
  position: fixed;
}

form.az-controls-form {

  .blocks--nuclet-list {

    .shell-1 { margin-left: 10px; }
    .shell-2 { margin-left: 20px; }
    .shell-3 { margin-left: 30px; }
    .shell-4 { margin-left: 40px; }

    .az-control {
      font-size: 14px;

      .text-label {
        width: 7em;
      }

      .text-value {
        width: 5em;
        text-align: left;
      }
    }

    .az-control-button {
      transition: color .5s;
      color: rgba($color-button-inactive, .5);
      &.az-selected {
        color: $color-icon-selected;
      }
      &:hover {
        color: $color-icon-hover;
      }
    }

    #atom--calc-button {
      font-size: 90%;
      float: right;
      margin-top: 2px;
      margin-right: 8px;
    }

    #atom--be-button {
      float: right;
    }

    .nuclet--list {
      .header {
        color: $color-green;
      }
      .nuclet {
//      clear:both;
      }
      .binding-energy-wrapper {
        @include clearfix;
        .binding-energy {
          background-color: lighten($color-controls, 5);
          float: right;
          font-size: 12px;
          padding: 0 5px;
          .title {
            display: inline-block;
            width: 115px;
          }
          .value {
            display: inline-block;
            width: 40px;
          }
        }
      }
    }

    .az-header {
      margin: 0 0 5px;
    }
  }

  .blocks--atom-form,
  .blocks--nuclet-form {
    padding: 5px;
    background: $color-controls-wrapper;
    border: solid 1px $color-border;
    border-radius: 8px;
    margin-bottom: 5px;

    .form-item {
      margin: 0;
      &.nuclet--state {
        margin-bottom: 5px;
      }
    }

    .az-slider {
      width: 41%;
    }

    .az-value {
      background: inherit;
      width: 1em;
    }

    .az-control-range {
      font-size: 14px;
      font-weight: bold;
    }

    label {
      margin: 0;
    }

    &::before {
      display: none;
    }

    textarea#edit-field-atomic-structure-0-value,
    textarea#edit-field-structure-0-value {
      font-family: "New Courier";
    }

    .nuclet--delete {
      margin-top: 5px;
    }

    #edit-nuclet-grow-0,
    #edit-nuclet-grow-1 {

      label {
        display: inline-block;
        margin: 0 10px 0 5px;
      }

      .form-item {
        display: inline-block;
      }

      .nuclet-list-button {
        margin: 1px 0px;
        padding: 1px 5px;
        background: $color-button;
        color: white;
        border-radius: 6px;
      }
    }
  }
}
