
.element-popup-dialog {
  position: absolute;
  top: 0;
  background-color: #001133;
  padding: 12px;
  border: 2px solid $color-border;
  border-radius: 8px;
  z-index: 6;
  max-width: 250px;

  .isotopes {
//  margin-top: 10px;
    margin: 0;
    table {
      margin: .5em 0 0;
      font-size: 90%;
      tr:first-child {
        border: none;
      }
      td {
        border: none;
        padding: 0;
      }
      td:last-child {
        padding-left: 1em;
      }
    }
  }
  .isotope {
    &.disabled {
      a {
        color: lightslategrey;
      }
    }
  }

  .popup-name {
    display: inline-block;
    margin-top: 0;
  }

  .close-button {
    float: right;
    margin-left: 15px;
  }

  .popup-valence {
    font-size: 14px;
    line-height: 1;
    background-color: rgba(0,0,0,.25);
    span {
      margin: 0 2px;
    }
    .primary {
      color: $color-orange;
      font-weight: bold;
    }
    .secondary {
      //      color: lightgrey;
    }
  }

  a.stability-stable {
     color: $color-green;
  }
  a.stability-semi-stable {
    color: $color-yellow;
  }
  a.stability-unstable {
    color: $color-light-red;
  }
  a.stability-impossible {
    color: $color-light-purple;
  }
  a.stability-alternative {
    color: $color-light-blue;
  }
}


#periodic-table-of-elements-dialog-container {
  top: 0;
  right: 0;
  left: unset;
  bottom: unset;
  width: 35%;
  background-color: #001133;
}

.pte-container {
  background-color: #001133;
  z-index: 5;

  &.inmotion {
    bottom: unset;
    right: unset;
  }

  #menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .content-pane {
    width: 100%;
  }

  .element {
    width: 132px;
    height: 132px;
    border: 2px solid lightslategrey;
    text-align: center;
    cursor: default;
    background-color: #1a2a3a;
    color: #ffffff;
    &.no-isotopes {
      color: lightslategray;
    }
//  font-family: monospace;
    //    font-weight: bold;

    image-primary {
      border: 0;
      img {
        display: block;
        width: 135px;
        height: 128px;
      }
    }

    &:hover {
      border: 8px solid #ff6cf0;
      background-color: #ff6cf0;
      color: #000000;

      img {
        width: 126px;
        height: 120px;
      }
    }

    .number {
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 12px;
      color: rgba(127, 255, 255, 0.75);
    }

    .symbol-large {
      position: absolute;
      top: 10px;
      left: 0px;
      right: 0px;
      font-size: 70px;
      text-shadow: 0px 0px 2px black;
    }

    .symbol {
      position: absolute;
      top: -4px;
      left: 4px;
      font-size: 26px;
      text-shadow: 0px 0px 2px black;
    }

    .footer {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      //    background-color: rgba(0,0,0,.25);
    }

    .name {
      font-size: 18px;
      line-height: 1;
    }

    .atomic-number {
      position: absolute;
      top: -4px;
      right: 4px;
      font-size: 26px;
      text-shadow: 0px 0px 2px black;
    }

    .valence-primary,
    .valence {
      font-size: 14px;
      line-height: 1;
      span {
        margin: 0 1px;
      }
      .primary {
        color: $color-orange;
        font-weight: bold;
      }
      .secondary {
        //      color: lightgrey;
      }
    }

    .valence-primary {
      font-size: 24px;
    }

    .valence-primary-lg {
      position: absolute;
      top: 36px;
      right: 0;
      left: 0;
      font-size: 54px;
      line-height: 1;
      span {
        margin: 0 1px;
      }
      .primary {
        color: $color-orange;
        font-weight: bold;
      }
      .secondary {
        //      color: lightgrey;
      }
    }

    .details {
      display: none;
      position: absolute;
      bottom: 15px;
      left: 0px;
      right: 0px;
      font-size: 12px;
      color: cyan;
    }

    &.color-active {
      background-color: #ffff00;
      color: #111111;
    }
    &.color-red {
      background-color: #ff5577;
      color: #111111;
    }
    &.color-orange {
      background-color: #ff9944;
      color: #111111;
    }
    &.color-yellow {
      background-color: #ffff55;
      color: #111111;
    }
    &.color-green {
      background-color: #66ff66;
      color: #111111;
    }
    &.color-blue {
      background-color: #77bbff;
      color: #111111;
    }
    &.color-purple {
      background-color: #bb55ff;
      color: #111111;
    }

    &.dark-red {
      background-color: #992222;
    }
    &.dark-green {
      background-color: #008800;
    }
    &.dark-purple {
      background-color: #7700aa;
    }
    &.dark-blue {
      background-color: #0055aa;
    }
    &.dark-grey {
      background-color: #111111;
    }
  } // .element

  button {
    color: rgba(127, 255, 255, 0.75);
    background: transparent;
    outline: 1px solid rgba(127, 255, 255, 0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgba(0, 255, 255, 0.5);
  }
  button:active {
    color: #000000;
    background-color: rgba(0, 255, 255, 0.75);
  }
}

