#panels-ipe-block-plugin-form-wrapper {
  .flipper .front {
    padding: 10px;
    background: $color-darker-grey;
  }
}
#panels-ipe-tray {
  .ipe-tab-content {
    background: $color-light-grey;
  }
  .ipe-category-picker-search {
    background: $color-light-grey;
  }
}
.block {
  .ipe-actions {
    background: $secondary-background-color;
  }
}
