.company {
  #site-logo {
    display: inline-block;
    padding: 10px 10px 0 10px;
    margin-left: 0;
    img {
      width: 72px;
      height: 72px;
    }
    @include media($bp960) {
      padding: 20px;
      margin-left: 30px;
      img {
        width: 154px;
        height: 154px;
      }
    }
  }


  #safire-project {
    margin-top: 30px;
    margin-left: -3px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    img {
      width: 235px;
      height: auto;
    }

    .copyright {
      color: $color-light-blue;
      margin-top: 24px;
      margin-left: -40px;
      font-size: 80%;
      @include media(max-width $bp580max) {
        font-size: 60%;
      }
      i {
        padding-right: .3em;
      }
    }

    @include media($bp960) {
      margin-left: 10px;
      margin-top: 67px;
      img {
        width: 436px;
        height: auto;
      }
      .copyright {
        margin-left: 54px;
        margin-top: 35px;
      }
    }

  }
}

