main.outer-wrapper {
  margin: 0 auto;
  background-color: $base-bg-color;
  padding: calc(var(--spacing)/2) var(--spacing);
  max-width: var(--max-page-width);
}

body {
  &.path-presentations,
  &.path-runs,
  &.path-projects,
  &.path-experiments,
  &.path-tickets {
    main.outer-wrapper {
      max-width: none;
    }
  }
}

