// Main navigation header at top of the page.

#site-navigation {

  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $navigation-background: $color-dark-blue;
  $navigation-height: 54px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);

  $base-border-radius: $base-border-radius !default;
  $dark-gray: #333 !default;
  $navigation-padding: 1em;
  $navigation-color: $color-light-blue;
  $navigation-color-hover: lighten($color-light-blue, 20%);
  $navigation-submenu-padding: 20px;
  $navigation-submenu-width: 15em;

//background-image: url('/sites/default/files/sf-nav.jpg');
//background-size: cover;
//background-position-y: 15%;

  position: relative;
//line-height: 1;

  /*
  text-align: center;
  > div {
    max-width: $page-max-width;
    margin: 0 auto;
    text-align: left;
  }
   */

  //z-index: 20;

  .az-top {
    display: inline-block;
    width: 100%;

    .nav-block-wrapper {
      max-width: $page-max-width;
      margin: 0 auto;
      position: relative;
    }

    #header-top-wrapper {
      background: linear-gradient(90deg, $color-dark-blue, $color-blue);
    }

    #header-top {
      max-width: $page-max-width;
      margin: 0 auto;
    }

    #header-bottom-wrapper {
      width: 100%;
      background: linear-gradient(270deg, $color-dark-blue, $color-blue);
      min-height: $navigation-height;
    }
    #header-bottom {
      position: relative;
      max-width: $page-max-width;
      margin: 0 auto;
      vertical-align: top;

      @include media(max-width $bp580max) {
        width: 100%;
        text-align: right;
      }
      @include media($bp960) {
        right: 50px;
        text-align: left;
      }

      .user-menu {
        position: absolute;
        top: 0px;
        left: 8px;

        @include media($bp960) {
          right: $page-padding-desktop;
          left: auto;
          top: -65px;
        }

        .links {
          margin-bottom: 3px;
        }

        .account-links {
          margin-top: 6px;
          .account-title {
            margin-bottom: 5px;
            text-align: center;
          }
          .account-link {
            margin-bottom: 3px;
          }
        }

        #account-menu {
          float: right;

          a {
            color: $navigation-color;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              color: $navigation-color-hover;
            }
          }

          > a {
            display: block;
            padding-top: 23px;
            padding-bottom: 23px;
          }

          .popup {
            position: absolute;
            top: -300px;
            left: 0px;
            right: -10px;
            width: 230px;
            background-color: $color-dark-purple;
            border: 2px solid $color-light-blue;
            border-radius: 1px;
            padding: 10px 15px;
            z-index: 20;
//          @extend %text-shadow;
            @include transition-3d($timing: 200ms);

            li {
              padding: 6px 0;
              margin: 0;
            }
            .account-title {
              color: $color-gold;
            }
            @include media($bp960) {
              left: auto;
              right: -10px;
            }
          }

          &:hover {
            .popup {
              bottom: auto;
              top: -20px;
              text-align: left;
              @include media ($bp960) {
                text-align: left;
                right: -10px;
                left: auto;
              }
            }
          }

          &.logged-in {
            padding-top: 6px;

            img {
              height: 44px;
              border-radius: 1px;
              border: 2px solid $color-light-blue;
              background-color: $color-dark-blue;
            }

            .user-name {
              font-size: 14px;
              display: block;
              border-radius: 2px;
              background-color: $color-dark-blue;
              border: 1px solid $color-light-blue;
              padding: 6px 8px;
              margin-top: 2px;
              color: $color-white;
            }
          }
        }
      }
    }
  }

  .navigation-wrapper {
    @include clearfix;
    position: relative;
    //  z-index: 101;
  }

  // Mobile view

  .navigation-menu-button {
    color: $color-light-blue;
    display: block;
    line-height: $navigation-height;
    padding: 0 30px;
    font-size: 180%;

    .fas {
      font-size: 110%;
      vertical-align: middle;
    }

    @include media ($bp960) {
      display: none;
    }

    &:focus,
    &:hover {
      color: lighten($color-light-blue, 15%);
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }
  }

  ul.navigation-menu {
    clear: both;
    font-weight: normal;
    display: none;
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    list-style-type: none;

    @include media(max-width $bp580max) {
      background: linear-gradient(270deg, $color-dark-blue, $color-blue);
      margin-top: -50px;
    }

    @include media($bp960) {
      > li {
        > ul {
          margin-left: -30px;
        }
      }
      > li:last-child {
        > ul {
          margin-left: -85px;

          > li a {
            width: 208px;
          }
        }
      }
    }

    span,
    a {
      line-height: 1.6;
      font-size: 140%;
      text-decoration: none;
      color: $navigation-color;
      @include transition-3d($timing: 150ms);
      &:hover,
      &:focus {
        color: $navigation-color-hover;
      }
      min-width: 200px;
    }

    &.show {
      display: block;
    }

    @include media ($bp960) {
      display: flex;
      float: right;
      margin: 0 30px 0 0;
      width: auto;
      max-width: $page-max-width;
      span,
      a {
        min-width: auto;
        font-size: 100%;
      }
    }

    > li {
      text-align: center;
      > span,
      > a {
        padding: 0px 25px;
      }
      &:last-child {
        padding-bottom: 10px;
      }
    }

    li.nav-link {
//    height: 40px;
//    display: block;

      @include media($bp960) {
        display: inline-block;
        &.more {
          margin-top: 13px;
        }
      }

      > i.fas {
        vertical-align: middle;
        font-size: 120%;
        &::before {
          color: $navigation-color;
          font-size: 90%;
          margin-left: -13px;
          &:hover {
            color: $navigation-color-hover;
          }
        }
      }

      > a {
        display: inline-block;
      }
    }

    @include media($bp960) {
      > li.nav-link {
        text-align: left;
        > span,
        > a {
//        height: $navigation-height;
          padding: 14px 15px;
          vertical-align: middle;
//        line-height: 1.3;
          font-size: 95%;
        }
        svg {
          margin-left: -12px;
        }
      }
    }

    @include media($bp1280) {
      > li {
        span,
        > a {
          width: auto;
        }
      }
    }

/*  .title,
    > a {
      padding-right: 10px;
      &::after {
        line-height: 1;
        padding-left: 4px;
        font-size: 100%;
        content: "\25BE";
      }
    }
*/

    &.menu-open {
      display: block;
    }

    @include media($bp960) {
      position: relative;
    }

    .trademark {
      svg {
        margin-bottom: .75em !important;
        margin-left: auto !important;
        height: auto;
        font-size: 33% !important;

      }

    }
  }


  ul.submenu {
    display: none;
    border: 1px solid $color-light-blue;
    background: $color-darker-blue;
    z-index: 20;
    padding: 5px 0 10px;
    margin: 0 0 0 -20px;
    list-style-type: none;

    a {
      line-height: 2;
      color: $color-light-blue;
      text-decoration: none;
    }

    @include media(max-width $bp580max) {
      background-color: rgba(0,0,0,.4);
      margin: 0 15px;
    }

    @include media($bp960) {
      background-color: $navigation-background;
      position: absolute;
      top: 2.5em;
    }

    .submenu.fly-out-right {
      @include media($bp960) {
        left: $navigation-submenu-width - .25em;
        top: 0;
      }
    }

    .submenu.fly-out-left {
      @include media($bp960) {
        left: -$navigation-submenu-width + .25em;
        top: 0;
      }
    }

    .submenu {
      @include media($bp960) {
        left: $navigation-submenu-width - .25em;
        top: 0;
      }
    }

    li {
      line-height: 1.5;
      padding: 0;

      @include media($bp960) {

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
        }
      }

      a {
        display: inline-block;
        width: 100%;
        line-height: 1.4;
        padding: 3px 15px;

//      @include media($bp960) {
//        width: $navigation-submenu-width;
//      }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: $navigation-height;

    @include media($bp960) {
      background: transparent;
      clear: none;
      float: right;
    }
  }


  // Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;

    form {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        border-radius: $base-border-radius * 2;
        box-sizing: border-box;
        color: $navigation-color;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;

        @include media($bp960) {
          width: 100%;
        }
      }

      button[type=submit] {
        background: $navigation-search-background;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }

    @include media($bp960) {
      display: inline-block;
      position: relative;
      width: 225px;

      input {
        box-sizing: border-box;
        display: block;
      }
    }
  }
}
