#site-footer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;

  ul:not(.contextual-links) {
    padding: 0;

    li {
      list-style: none;
      line-height: 1.5em;
    }
  }

  a {
    text-decoration: none;
    color: $color-light-blue;
  }
  //////////////////////////////////////////////////////////////////////////////////

//section {
//  @include outer-container;
//}

  color: $color-black;

  .footer-top {
    position: relative;
    color: $color-white;
    width: 100%;
    background: linear-gradient(187deg, $color-blue, $color-dark-blue);
    padding: 0 0 3em;
    text-align: center;
    .block {
      text-align: center;
    }
    .left-col {
      position: absolute;
      left: 0;
      bottom: 0;
      a.contact {
        margin-top: 20px;
        display: block;
        padding: 1em;
      }
    }
    .middle-col {
      margin: 0 auto;
    }
    .right-col {
      position: absolute;
      right: 0;
      bottom: 0;
      a.login {
        margin-top: 20px;
        display: block;
        padding: 1em;
      }
    }

    @include media($bp960) {
      .left-col {
        position: relative;
        float: left;
        a.contact {
          margin-top: 0;
          display: block;
          padding: 1em 2em;
        }
      }
      .middle-col {
        margin: 0 auto;
      }
      .right-col {
        position: relative;
        float: right;
        a.login {
          margin-top: 0;
          display: block;
          padding: 1em 2em;
        }
      }


    }
  }

  .footer-logo {
    width: 100%;
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-bottom {
    > div {
      background: $color-lightest-purple;
      padding: 1em $gutter;
    }
    p {
      font-size: 0.9em;
      line-height: 1.5em;
      margin: auto;
    }

    display: none;
    @include media($bp960) {
      display: block;
    }
  }

  .copyright {
    @include span-columns(4);
    padding-left: 1em;
  }

  #block-azsubmitticketblock {
    margin-bottom: 1.5em;
  }

  .utility-menu {
    @include span-columns(8);

    ul {
      text-align: right;
      font-weight: 600;

      li {
        display: inline;
        padding-right: 1em;

        a {
          color: $footer-disclaimer-color;
        }
      }
    }
  }
}
