// Main navigation header at top of the page.

#site-navigation {

  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $navigation-background: darken($color-blue, 10%);
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);

  $base-border-radius: $base-border-radius !default;
  $dark-gray: #333 !default;
  $navigation-padding: 1em;
  $navigation-color: $topnav-color;
  $navigation-color-hover: lighten($topnav-color, 40%);
  $navigation-submenu-padding: 20px;
  $navigation-submenu-width: 20em;

  background-image: url('/sites/default/files/sf-nav.jpg');
  background-size: cover;
  background-position-y: 15%;

  position: relative;
  line-height: 1;
  border-bottom: 1px solid $navigation-background;

  text-align: center;
  > div {
    max-width: $max-width;
    margin: 0 auto;
    text-align: left;
  }

  //z-index: 20;

  .az-top {
    display: inline-block;
    width: 100%;

    .nav-block-wrapper {
      max-width: $max-width;
      margin: 0 auto;
      position: relative;
    }

    #site-logo {
      padding: 10px;
      display: inline-block;
      img {
        width: 50px;
        height: 50px;
      }
    }

    .content-container {
      display: inline-block;
      vertical-align: top;

      .navigation-menu {
        font-weight: bold;
      }

      @include media(max-width $bp580max) {
        width: 100%;
      }
      @include media($bp960) {
        padding-left: 20px;
        padding-right: 150px;
      }

      .user-menu {
        position: absolute;
        top: 0px;

        @include media($bp320only) {
          right: 80px;
        }

        @include media($bp580only) {
          right: 80px;
        }

        @include media($bp960) {
          right: $page-padding-desktop;
        }

        .links {
          margin-bottom: 3px;
        }

        .account-links {
          margin-top: 6px;
          .account-title {
            margin-bottom: 5px;
            text-align: center;
          }
          .account-link {
            margin-bottom: 3px;
          }
        }


        #accessibility {
          display: none;
          float: right;
          position: relative;
          .accessibility-hover {
            padding: 18px;
            font-size: 120%;
            color: $color-white;

            @include media($bp320only) {
              padding-right: 20px;
            }

            @include media($bp580) {
              padding-right: 20px;
            }
          }

          .popup {
            @include transition-3d($timing: 500ms);
            position: absolute;
            top: 45px;
            right: -50px;
            bottom: auto;
            width: 212px;
            background-color: $color-dark-green;
            border: 2px solid $color-green;
            padding: 12px;
            border-radius: 8px;
            z-index: 20;

            @include media(max-width $bp580max) {
              top: -100px;
            }

            @include media($bp960-1280) {
              top: -100px;
            }

            @include media($bp1920) {
              top: -100px;
            }
          }
          .label {
            font-family: opendyslexic;
            font-size: 87.5%;
          }
          &:hover {
            .popup {
              top: 45px;
            }
          }
        }

        #account-menu {
          float: right;

          a {
            color: $color-light-blue;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              color: lighten($color-light-blue, 15%);
            }
          }

          > a {
            display: block;
            padding-top: 23px;
            padding-bottom: 23px;
          }

          @include media(max-width $bp580max) {
            //          position: absolute;
            //          top: 0px;
            //          right: 50px;
          }

          .popup {
            position: absolute;
            top: -300px;
            right: -10px;
            width: 230px;
            background-color: $color-dark-purple;
            border: 2px solid $color-gold;
            border-radius: 8px;
            padding: 10px 15px;
            z-index: 20;
//          @extend %text-shadow;
            @include transition-3d($timing: 200ms);

            li {
              padding: 6px 0;
              margin: 0;
            }
            .account-title {
              color: $color-gold;
            }
          }

          &.logged-in {
            padding-top: 6px;

            img {
              height: 60px;
              border-radius: 10%;
              box-shadow: 0px 0px 2px 2px $color-green;
              background-color: $color-dark-blue;
            }

            .user-name {
              display: block;
              border-radius: 10px;
              background-color: $color-dark-blue;
              border: 1px solid $color-green;
              padding: 6px 8px;
              margin-top: 12px;
              color: $color-white;
//            @extend %text-shadow;
              //            @extend .az-fa-pencil;
            }

            .menu {
            }

            &:hover {
              .popup {
                bottom: auto;
                top: 50px;
                right: -10px;
              }
            }
          }
        }
      }
    }
  }

  .navigation-wrapper {
    @include clearfix;
    position: relative;
    //  z-index: 101;
  }

  // Mobile view

  .navigation-menu-button {
    color: $color-white;
    display: block;
    float: right;
    line-height: $navigation-height;
    padding: 0 20px;
    font-size: 160%;
    //  @extend .az-fa-bars;

    @include media ($bp960) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $color-blue;
      text-decoration: none;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    overflow: visible;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: $page-max-width;
    justify-content: center;

    &.show {
      display: block;
    }

    @include media(max-width $bp580max) {
      padding-bottom: 10px;
      margin: 0 auto;
    }

    @include media ($bp960) {
      display: flex;
      justify-content: space-around;
      margin: 0;
    }

    li.nav-link {
      display: block;
      > a {
        color: $topnav-color;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        font-size: 120%;
        text-shadow: 0px 0px 4px #000;

        @include media ($bp960) {
          //        padding-right: 1em;
        }

        &:focus,
        &:hover {
          color: $navigation-color-hover;
        }
      }
    }

    @include media(max-width $bp580max) {
      li {
        padding: 0 20px;
        line-height: 2.2;

        &:last-child {
          margin-bottom: 20px;
        }

        a {

        }
      }
    }

    @include media($bp960) {
      li {
        padding: 0 15px;
        float: left;
        height: $navigation-height;
        line-height: $navigation-height;
        a {
          vertical-align: middle;
          text-decoration: none;
          //        width: 100px;
          line-height: 1.2;
          text-align: center;
        }
      }
    }

    @include media($bp1280) {
      li {
        padding: 0 25px;
        a {
          width: auto;
        }
      }
    }


    /*
        &.more {
          @include media($bp960) {
            //    padding: 0 $navigation-submenu-padding;
          }

          > ul > li:first-child a  {
            //    padding-top: 10px;
          }

          .title,
          > a {
            padding-right: 10px;
            &::after {
              line-height: 1;
              padding-left: 4px;
              font-size: 100%;
              content: "\25BE";
            }
          }

          &.menu-open {
            display: block;
          }

          @include media($bp960) {
            padding-right: 0.8em;
            //        position: relative;
          }
        } */

    .title,
    > a {
      padding-right: 10px;
      &::after {
        line-height: 1;
        padding-left: 4px;
        font-size: 100%;
        content: "\25BE";
      }
    }

    &.menu-open {
      display: block;
    }

    @include media($bp960) {
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    border-radius: 8px;
    border: 2px solid $color-light-blue;
    z-index: 20;
    padding: 10px 0;
    margin: 0;

    @include media(max-width $bp580max) {
      background-color: rgba(0,0,0,.5);
    }

    @include media($bp960) {
      background-color: $navigation-background;
      position: absolute;
      top: 2.5em;
    }

    .submenu.fly-out-right {
      @include media($bp960) {
        left: $navigation-submenu-width - .25em;
        top: 0;
      }
    }

    .submenu.fly-out-left {
      @include media($bp960) {
        left: -$navigation-submenu-width + .25em;
        top: 0;
      }
    }

    .submenu {
      @include media($bp960) {
        left: $navigation-submenu-width - .25em;
        top: 0;
      }
    }

    li {
      line-height: 2.0;
      padding: 0;

      @include media($bp960) {

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
        }
      }

      a {
        display: inline-block;
        width: 100%;
        padding: 0 $navigation-submenu-padding;

        @include media($bp960) {
          width: $navigation-submenu-width;
          &:hover {
            background-color: darken($navigation-background, 20%);
          }
        }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: $navigation-height;

    @include media($bp960) {
      background: transparent;
      clear: none;
      float: right;
    }
  }


  // Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;

    form {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        border-radius: $base-border-radius * 2;
        box-sizing: border-box;
        color: $navigation-color;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;

        @include media($bp960) {
          width: 100%;
        }
      }

      button[type=submit] {
        background: $navigation-search-background;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }

    @include media($bp960) {
      display: inline-block;
      position: relative;
      width: 16em;

      input {
        box-sizing: border-box;
        display: block;
      }
    }
  }
}



/*
#site-header {
  margin: 0 auto;
  background: linear-gradient(173deg, rgba(48, 111, 161, 1) 0%, rgba(10, 25, 36, 1) 100%);
  color: $color-white;
  border-bottom: solid 3px #fcb400;

  ul.menu {
    a {
      text-decoration: none;

      &.is-active {
        color: $color-white;
      }
    }
  }

  div#block-au-branding {
    position: absolute;
    top: 8px;
    left: 20px;

    > a {
      text-decoration: none;
    }
  }

}
*/
