#site-footer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;

  ul:not(.contextual-links) {
    padding: 0;

    li {
      list-style: none;
      line-height: 1.5em;
    }
  }

  a {
    text-decoration: none;
    color: $color-light-blue;
  }
  //////////////////////////////////////////////////////////////////////////////////

//section {
//  @include outer-container;
//}

  color: $color-black;

  .footer-top {
    color: $color-white;
    width: 100%;
    background: linear-gradient(187deg, $color-blue, $color-dark-blue);
    padding: 0 0 3em;
    text-align: center;
    .block {
      text-align: center;
    }
    .left-col {
      float: left;
      a.contact {
        display: block;
        padding: 2em;
      }
    }
    .middle-col {
      margin: 0 auto;
    }
    .right-col {
      float: right;
      a.login {
        display: block;
        padding: 2em;
      }
    }
    #site-logo {
      display: inline-block;
      padding: 20px;
      margin-left: 30px;
      //      display: inline-block;
      img {
        width: 154px;
        height: 154px;
      }
    }

    #safire-project {
      text-align: left;
      vertical-align: top;
      display: inline-block;
      margin-top: 60px;
      margin-left: 16px;
      h1 {
        font-size: 250%;
        color: $color-light-blue;
        font-family: "Times New Roman";
        font-weight: 400;
        margin-bottom: 5px;
        line-height: 1;
      }
      h2 {
        color: $color-light-blue;
        font-weight: 400;
        font-size: 100%;
        margin-left: 7px;
        letter-spacing: .256em;
      }
      p {
        color: $color-light-blue;
        margin-top: 50px;
        font-size: 80%;
      }
      @include media($bp320only) {
        margin-left: 0px;
        h1 {
          font-size: 135%;
        }
      }
      @include media($bp580only) {
        margin-left: 30px;
        h1 {
          font-size: 190%;
        }
      }
    }
  }

  .footer-logo {
    width: 100%;
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-bottom {
    > div {
      background: $color-lightest-purple;
      padding: 1em $gutter;
    }
    p {
      font-size: 0.9em;
      line-height: 1.5em;
      margin: auto;
    }
  }

  .copyright {
    @include span-columns(4);
    padding-left: 1em;
  }

  #block-azsubmitticketblock {
    margin-bottom: 1.5em;
  }

  .utility-menu {
    @include span-columns(8);

    ul {
      text-align: right;
      font-weight: 600;

      li {
        display: inline;
        padding-right: 1em;

        a {
          color: $footer-disclaimer-color;
        }
      }
    }
  }
}
