#site-footer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;

  ul:not(.contextual-links) {
    padding: 0;

    li {
      list-style: none;
      line-height: 1.5em;
    }
  }

  a {
    text-decoration: none;
    color: $color-light-blue;
  }
  //////////////////////////////////////////////////////////////////////////////////

//section {
//  @include outer-container;
//}

  color: $color-black;

  .footer-top {
    color: $color-white;
    border-top: solid 3px $separator-color;
    border-bottom: solid 3px $separator-color;
    width: 100%;
    background: linear-gradient(187deg, $color-blue, $color-dark-blue);
    padding: ($base-spacing * 2) $gutter;
    .block {
      text-align: center;
    }
    .footer-left {
      float: left;
    }
    .footer-center {
      margin: 0 auto;
    }
    .footer-right {
      float: right;
    }
  }

  .footer-logo {
    width: 100%;
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-bottom {
    > div {
      background: $color-lightest-purple;
      padding: 1em $gutter;
    }
    p {
      font-size: 0.9em;
      line-height: 1.5em;
      margin: auto;
    }
  }

  .copyright {
    @include span-columns(4);
    padding-left: 1em;
  }

  #block-azsubmitticketblock {
    margin-bottom: 1.5em;
  }

  .utility-menu {
    @include span-columns(8);

    ul {
      text-align: right;
      font-weight: 600;

      li {
        display: inline;
        padding-right: 1em;

        a {
          color: $footer-disclaimer-color;
        }
      }
    }
  }
}
